body {
    font-size: calc(2.5vw * 0.5 + 2.5vh * 0.5);
    color: white;
    background-image: url('https://i.imgur.com/svVpQKT.jpg');
}

a {
    color: white;
    text-decoration: underline;
}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
    color: green;
}
